<title>SOS PET</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="jumbotron-fluid card-header text-center bg-primary">
    <div class="container">
        <h1 >SOS PET</h1>
        <p class="lead">Nos ajude a salvar mais Pets!</p>      
    </div>
</div>

<div id="menu">
    <ul class="nav navbar-expand-sm bg-dark mb-4 mt-4">
        <li class="nav-item ">
            <a class="nav-link text-white" href="/pet/all/">Todos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" href="/pet/user/">Meus</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" href="/pet/register">Cadastrar</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" href="/logout/">Sair</a>
        </li>
    </ul>
</div>





